<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button aria-label="Example icon-button with a heart icon" class="margin-r" (click)="abreMenuLateral();">
            <mat-icon>menu</mat-icon>
        </button>
        <span>LalaSoft</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>